border {
    border : solid black
}

body {
	background-color: ivory;
	font-family: Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 40px;
	color: lightsalmon;
}

h1 {
	font-size: 60px;
	color: coral;
	text-decoration: underline;
	text-decoration-color: black;	
}

h3 {
	font-size: 30px;
	color: tomato;
}




a {
	color: palevioletred;
	text-decoration: none;	
}

a.current-page {
	background-color: lightcyan;
}

a.moreinfo {
	float: right;
}

a:hover {
	color: hotpink;
	font-style: italic;
	text-decoration: underline;
	background-color: lightgoldenrodyellow;
}


nav {
	list-style-type: none;
	overflow: hidden;
	background-color: khaki;
}

nav a {
	border: groove lightsalmon;
	float: left;
	display: block;
	text-align: center;
	padding: 16px;
}

div.body {
	display: flex;
}

div.text {
	display: block;
	margin: 1%;
}

div.stat-text {
	max-width: 55%;
	display: block;
	margin-left: 3%;
	margin-top: 5%;
	float: right;
}



div.large-stat-text {
	max-width: 95%;
	display: block;
	margin: auto;
}

div.right-img {
	margin: auto;
	max-width: 50%
}

div.left-img {
	max-width: 70%;
}

div.next-page {
	margin: 5%;
	text-align: center;
}

div.stat-left {
	max-width: 50%;
	padding: 1%;
	float: left;
}



div.large-stat-left {
	display: block;
	padding: 1%;
	max-width: 100%
}

div.large-stat-left3 {
	display: block;
	padding: 1%;
	max-width: 120%
}



img.left {
	width: 100%;
	height: auto;
}

img {
	border: groove lightsalmon; 
}

img.stat-left {
	max-width: 100%;
	padding: 12%;
	height: 70%;
	width: auto;
}

img.large-stat-left {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.large-stat-left3 {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}