<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>

    <body>
        <h1>Please Login</h1>
        <form method="POST">
            <input type="text" name="username">
            <input type="text" name="password">
            <input type="submit">
        </form>
        <p>{{msg}}</p>

        <form action="/add_account" id="add_account">
            <input type="submit" value="Create An Account"/>
        </form>
    </body>
</html>