<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>

    <body>
        <form action="/">
            <input type="submit" value="Back"/>
        </form>
        <h1>Explore!</h1>
        <div>
            <form method="POST" action="/blog">
                <input type="submit" name="blog_id" value={{blog1_title}}>
                <input type="submit" name="blog_id" value={{blog2_title}}>
                <input type="submit" name="blog_id" value={{blog3_title}}>
                <input type="submit" name="blog_id" value={{blog5_title}}>
                <input type="submit" name="blog_id" value={{blog4_title}}>
            </form>
            <form action="/blog">
                <input type="submit" value="Visit">
            </form>
        </div>
    </body>
</html>