<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>

    <body>
        <a href="home">Home</a>
        <a href="explore">Explore</a>
        <a href="create">Create</a>
        <!-- <a class="current-page" href="goodpets.html">Why They're Good Pets</a>
        <a href="moreinfo.html">Continue Learning about Frogs</a> -->
        <form action="/">
            <input type="submit" value="Back"/>
        </form>
        <h1>Home!</h1>
    </body>
</html>