<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
      </head>

    <body>
      <a href="home">Home</a>
      <a href="explore">Explore</a>
      <a href="create">Create</a>
      <!-- <a class="current-page" href="goodpets.html">Why They're Good Pets</a>
      <a href="moreinfo.html">Continue Learning about Frogs</a> -->

      <div class="response">
          <h2>
              Logged in as {{username}}
          </h2>
      </div>

      <form action="/logout" class="logout">
        <input type="submit" name="logout" id="logout" value="Logout"/>
      </form>
      <form action="/delete_account" class="delete_account">
        <input type="submit" name="delete_account" value="Delete Account"/>
      </form>
    </body>
</html>
