<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>

    <body>
        <form method="POST" style="opacity:0.5;">
            <input type="text" name="nusername" value="Username">
            <input type="text" name="npassword" value="Password">
            <br>
            <input type="text" name="vnusername" value="Verify Username">
            <input type="text" name="vnpassword" value="Verify Password">
            <input type="submit">
        </form>
        <p>{{msg}}</p>
    </body>
</html>
