<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
      </head>

    <body>
      <div class="tabs">
        <form action="/home">
          <input type="submit" value="Home"/>
        </form>
        <form action="/explore">
          <input type="submit" value="Explore"/>
        </form>
        <form action="/create">
          <input type="submit" value="Create"/>
        </form>
      </div> 

      <div class="response">
          <h2>
              Logged in as {{username}}
          </h2>
      </div>

      <form action="/logout" class="logout">
        <input type="submit" name="logout" id="logout" value="Logout"/>
      </form>
      <form action="/delete_account" class="delete_account">
        <input type="submit" name="delete_account" value="Delete Account"/>
      </form>
    </body>
</html>
