<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        <style>
        </style>
    </head>

    <body>
        <form action="/">
            <input type="submit" value="Back"/>
        </form>
        <h1>Explore!</h1>
        <div>
            <form method="POST">
                <label>
                    {{blog1_title}}
                    <input type="submit" name="blog_id" placeholder={{blog1_title}} value={{blog1}}>
                </label>
                <label>
                    {{blog2_title}}
                    <input type="submit" name="blog_id" placeholder={{blog2_title}} value={{blog2}}>
                </label>
                <label>
                    {{blog3_title}}
                    <input type="submit" name="blog_id" placeholder={{blog3_title}} value={{blog3}}>
                </label>
                <label>
                    {{blog4_title}}
                    <input type="submit" name="blog_id" placeholder={{blog5_title}} value={{blog4}}>
                </label>
                <label>
                    {{blog5_title}}
                    <input type="submit" name="blog_id" placeholder={{blog4_title}} value={{blog5}}>
                </label>
            </form>
        </div>
    </body>
</html>